
body {
  font-size: 14px;
}

h2 {
  font-size: 24px;
}

.table-width-auto {
  width: auto !important;
}

.td-no-wrap {
  white-space: nowrap;
  vertical-align: -webkit-baseline-middle;
  width: 70px;
}
